$g-primary-color: #bd8451; // メインボタン
$g-secondry-color: #ffd771; // 進行中ボタンなど
$g-third-color: #f5d0a9;
$g-success-color: #52794d; // 「まかせて！」　ボタン
$g-success-secondary-color: #92b9fe; // 「金額入力待ち」　ボタン
$g-info-color: #d5a7dd; // 「金額入力待ち」　ボタン
$g-error-color: #ff5949; // 「取り下げ」　ボタン

$g-grey: #f8f8f8;
$g-secondary-grey: #f3f3f2;
$g-dark-grey: #ccc;

$g-background-color: #ffffff; // 背景色

$g-font-color: #383838;
$g-font-white-color: #ffffff;
.g-font-h1 {
  color: $g-font-color;
  font-size: 24px;
}
.g-font-h2 {
  // ボタン専用
  color: $g-font-white-color;
  font-weight: bold;
  font-size: 16px;
}
.g-font-h3 {
  color: $g-font-color;
  font-size: 14px;
  font-weight: bold;
}

.g-font-p-large {
  color: $g-font-color;
  font-size: 18px;
  font-weight: bold !important;
}

.g-font-p-small {
  color: $g-font-color;
  font-size: 14px;
}
