@use "@/styles/globals.scss" as *;

.ReceivedRequestCardP {
  @extend .g-font-p-large;
  margin-top: 0px;
  margin-left: 6px;
}

.RequestDetailComment {
  @extend .g-font-p-large;
  margin-top: 0px;
}

.ReceivedRequestCardPWeight {
  @extend .ReceivedRequestCardP;
  @extend .g-font-p-large;
  margin-top: 0 !important;
}

.BackButton {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 7px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.back-button svg {
  font-size: 24px;
}

.image {
  height: 25vw;
  width: 25vw;
  // width: "100%";
  // height: "auto";
  display: "block";
}
