@use "@/styles/globals.scss" as *;

.ReceivedRequestCardP {
  @extend .g-font-p-large;
  margin-top: 0px;
  margin-left: 6px;
  text-align: left;
}

.ReceivedRequestCardPSmall {
  @extend .g-font-p-small;
  text-align: left;
  margin: 0;
}

.RequestDetailComment {
  @extend .g-font-p-large;
  margin-top: 0px;
  text-align: left;
}

.ReceivedRequestCardPWeight {
  @extend .ReceivedRequestCardP;
  @extend .g-font-p-large;
  margin-top: 0 !important;
}

.Header {
  background-color: $g-background-color !important;
  position: relative;
}

.BackButton {
  position: absolute !important;
  top: 0px !important;
  left: -20px !important;
  padding: 4px 10px !important;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  color: $g-font-color !important;
  z-index: 1000;
}

.PageTitle {
  width: initial;
  border-bottom: solid 0px black !important;
  position: absolute !important;
  display: block !important;
  right: 0 !important;
  left: 0 !important;
  margin: 0 auto !important;
}

.DetailContent {
  margin-top: 70px;
}

.image {
  height: 25vw;
  width: 25vw;
  // width: "100%";
  // height: "auto";
  display: "block";
}
