@use "@/styles/globals.scss" as *;

.RequestCard {
  margin: 10px 0 !important;
  padding: 10px;
  border-radius: 0px !important;
  border-bottom: solid 1px $g-secondary-grey !important;
}

.Grid {
  margin: 0 !important;
}

.CustomP {
  margin: 0 10px !important;
  text-align: left;
}
