@use "@/styles/globals.scss" as *;

.Card{
  margin: 5% 0;
  box-shadow: none !important;
}

.UserRow {
  display: flex;
  justify-content: space-between;
  padding: 3% 2%;
  align-items: center;
}

.User{
  width: 60%;
  display: flex; 
  align-items: center;
  @extend .g-font-p-large
}

.Office{
  width: 40%;
  text-align: left;
  @extend .g-font-p-small;
  white-space: nowrap;         /* テキストを1行に固定 */
  overflow: hidden;            /* はみ出した部分を隠す */
  text-overflow: ellipsis;     /* はみ出した部分に...を表示 */ 
}

.Office svg {
  vertical-align: middle;
}

.PriceRow {
  display: flex;
  justify-content: space-between;
  padding: 2% 2%;
  align-items: center;
}

.FoodItem {
  width: 60%;
  display: flex; 
  align-items: center;
}

.GratitudeItem {
  width: 40%;
  display: flex;
  align-items: center;
}

.Item {
  text-align: left;
  margin-left: 5px;
  @extend .g-font-p-small;
  white-space: nowrap;         /* テキストを1行に固定 */
  overflow: hidden;            /* はみ出した部分を隠す */
  text-overflow: ellipsis;     /* はみ出した部分に...を表示 */
  width: 150px;                
}

.Gratitude {
  @extend .g-font-p-small;
  display: flex;
  align-items: center;
}

.Price {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  @extend .g-font-p-large;
  width: 100%;
}