@use "@/styles/globals.scss" as *;

.RequestWaitingCardBox {
  margin-top: 1150px;
}

.RequestMyList {
  margin: 30px auto !important;
  padding-bottom: 10px !important;
  box-sizing: border-box !important;
  width: 100%;
}

.myRequestRow {
  margin-bottom: 10px;
}

.myRequestCardP {
  margin-top: 6px;
  margin-left: 8px;
}

.myRequestCardPSmall {
  @extend .g-font-p-small;
  text-align: left;
  margin: 0;
  margin-left: 15px !important;
}

.myRequestCardPWeight {
  @extend .myRequestCardP;
  @extend .g-font-p-large;
  margin: 0 !important;
  margin-left: 15px !important;
  text-align: left;
}

.itemImage {
  width: 100px;
  height: 100px;
}

.horizontalBar {
  margin: 12px auto !important;
  width: 100%;
  height: 1px;
  background-color: #f3f3f2;
}

.itemNameTextbox {
  color: "#000";
  border: "1px solid #ccc";
  height: "20px";
  cursor: "not-allowed";
  width: "100%";
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 0px !important;
}

._textboxGrid {
  margin-bottom: 0 !important;
}

.inputPriceTextBox {
  color: "#000";
  border: "1px solid #ccc";
  height: "20px";
  cursor: "not-allowed";
  width: "100%";
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 0px !important;
}

.textboxGrid {
  margin-bottom: 10px;
}

.MaxPrice {
  margin-top: 5%;
  border: 1px solid #bd8451 !important;
  border-radius: 5px;
}

.PriceTagHelpIcon {
  display: flex;
  justify-content: space-between;
  padding: 1% 1%;
}

.InputPriceTag {
  font-size: 12px;
  padding-left: 7%;
}

.CalculatedPrice {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.Help {
  display: flex;
  align-items: flex-start;
}
.HelpIcon {
  font-size: 10px !important;
}
