@import "@/styles/globals.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 20px 0;
  color: $g-font-color;
}

.formContainer {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  --Paper-shadow: 0 !important;
}

.Image {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}
